<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <!-- Windows Authentication -->
      <add name="ETradeConnectionString" connectionString="Server=.\SQLEXPRESS; Initial Catalog=ETrade; Integrated Security=true;" providerName="System.Data.SqlClient" />
      <!-- SQL Server Authentication -->
      <!--<add name="ETradeConnectionString" connectionString="Server=.\SQLEXPRESS; Initial Catalog=ETrade; User Id=sa; Password=sa;" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>